header {
    top: 0px;
    border-bottom: solid; 
    border-width:0 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-color: #0000ff;
    background-color: lightcyan; 
    width:100%
}

body {
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
}

div.main, div.side {
    display: inline-block;
}

div.center {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

div.image {
    margin: 0 auto;
    width: 500px;
    background-color: antiquewhite;
    text-transform: uppercase;
    border: solid; 
    border-width:0 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-color: sandybrown;
    margin-bottom: 15px;
    margin-top: 10px;
}

div.image2 {
    margin: 0 auto;
    width: 500px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 10px;
}

div.wins, div.loses {
    font-weight: bolder;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}

div.wins {
    border: solid; 
    border-width:0 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-color: green;
    background-color: lightgreen;
}

div.loses {
    border: solid; 
    border-width:0 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-color: red;
    background-color: pink; 
}

div.break {
    width: 200px;
    display: inline-block;
}

div.money, div.max {
    background-color: #ffffff;
    display: inline-block;
    font-weight: bolder;
    min-width: 200px;
    margin: 10px;
}

div.money {
    border: solid; 
    border-width:0 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-color: green;
    background-color: lightgreen; 
}

div.max {
    border: solid; 
    border-width:0 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-color: red;
    background-color: pink; 
}

div.crystal {
    margin-top: 10px;
    background-color: #ffffff; 
}

p {
    padding: 10px;
}

Ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    border: solid; 
    border-width:0 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-bottom-color: teal;
    border-left-color: blue;
    border-right-color: maroon;
    border-top-color: darkcyan;
}

div.head {
    text-align: center;
    text-transform: uppercase;
    width:100%
}

h1 {
    padding-top: 10px;
    margin: 0px;
    padding-bottom: 10px;
    min-width: 500px;
    text-align: center;
}

