body {
    background: url("../images/background.jpg");
    min-width: 320px;
}

div.main {
    margin: 0 auto;
    max-width: 500px;
    min-width: 320px;
    padding: 5px;
}

div.center {
    text-align: center;
}

div.image {
    margin: 0 auto;
    background-color: lightcyan;
    text-transform: uppercase;
    border: solid 5px #0000ff; 
    margin-bottom: 15px;
    margin-top: 10px;
}

div.image2 {
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 10px;
}

div.wins, div.loses {
    font-weight: bolder;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}

div.wins {
    border: solid green 5px; 
    background-color: lightgreen;
}

div.loses {
    border: solid red 5px; 
    background-color: pink; 
}

div.break {
    display: inline-block;
}

div.crystal {
    margin-top: 10px;
    background-color: #ffffff; 
}

p {
    padding: 10px;
}

Ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    border: solid; 
    border-width: 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-bottom-color: teal;
    border-left-color: blue;
    border-right-color: maroon;
    border-top-color: darkcyan;
    margin-bottom: 5px;
}

h1 {
    padding-top: 10px;
    margin: 0px;
    padding-bottom: 10px;
    text-align: center;
}

h3.floor {
    border-bottom: solid 5px #0000ff;
    padding: 10px;
    padding-top: 15px;
    margin: 0;
}